[Unit]
Description=IP-Camera Capture
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/github/ip-cam/run.sh
ExecStop=/usr/bin/sudo /home/pi/github/ip-cam/handle_stop.sh
WorkingDirectory=/home/pi/github/ip-cam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
