[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/github/ip-cam/picamera/run.py
WorkingDirectory=/home/pi/github/ip-cam/picamera
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
